body {
  margin: 0;
  font-family: Arial,sans-serif;
}

.logo {
  text-align: left;
}

.social {
  text-align: right;
}

.slogan {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem!important;
  font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
  display: block;
  font-weight: 500;
}

.subtitle {
  margin-top: 50px;
  font-size: 200%;
  text-align: center;
}

.footer {
  background-color: #273042;
  color: white;
  padding-bottom: 30px;
}

.footer-text {
  font-size: 150%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0;
  margin: 5rem auto 0;
  width: 80%;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
  flex-basis: auto;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.1%;
}
.span_1_of_3 {
  width: 32.2%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 998px) {
  .col {
    margin: 1% 0 1% 0%;
    flex-basis: 100%;
  }
  .span_3_of_3, .span_2_of_3, .span_1_of_3, .span_2_of_2, .span_1_of_2 { width: 100%; }
  .logo, .social {
    text-align: center;
  }
  .slogan {
    font-size: 2rem;
  }
}