.logo {
  text-align: left;
}

.social {
  text-align: right;
}

.slogan {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem!important;
  font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
  display: block;
  font-weight: 500;
}

.text-colour {
  color: white;
}

.main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}

.item {
  max-width: 35rem;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icon-item {
  max-width: 20rem;
  text-align: center;
}

.features-icons-icon {
  height: 11rem;
}

footer {
  padding-top:4rem;
  padding-bottom:4rem
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0;
  margin: 5rem auto 0;
  width: 80%;
  max-width: 1140px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
  flex-basis: auto;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.1%;
}
.span_1_of_3 {
  width: 32.2%;
}

@media only screen and (max-width: 768px) {
  .col {
    margin: 1% 0 1% 0%;
    flex-basis: 100%;
    text-align: center;
  }
  .span_3_of_3, .span_2_of_3, .span_1_of_3, .span_2_of_2, .span_1_of_2 { width: 100%; text-align: center;}
  .logo, .social {
    text-align: center;
  }
  .slogan {
    font-size: 2rem;
  }
}


